registry=https://registry.npmmirror.com/
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass/
# electron_mirror=https://registry.npmmirror.com/mirrors/electron/
# ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
# 使用taobao镜像: electron 下载超时问题
# ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/